.ReviewScreen {
    padding: 10px;
    display: flex;
    height: 100vh;
    background-color: rgb(62, 62, 62);
}

.ReviewScreen__previewer {
    flex: 75;
    background-color: rgb(62, 62, 62);
    border-right: 10px solid rgb(62, 62, 62);
    overflow: scroll;
}

.ReviewScreen__sidebar {
    flex: 25;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #000;
    overflow: scroll;
}

/* Sidebar */
.Sidebar {
    h1{
        float: left;
        margin: 8px 0;
    }
    button {
        margin: 10px 0;
        padding: 4px 6px;
        float: right;
    }
}

/* Field Container */
.FieldContainer {
    color: white;
    margin: 10px 0;
    padding: 5px 10px;
    width: 100%;
    background-color: rgb(62, 62, 62);;
    display: flex;
    cursor: pointer;
}

.FieldContainer__col {
    flex: 50;
    display: flex;
}

.FieldContainer__logo {
    height: 35px;
    width: 35px;
    float: left;
    padding: 6px 6px;
    margin: 0 4px 0 0;
    text-align: center;
    border-radius: 2px;
    filter: brightness(80%);
}

.FieldContainer__content {
    margin-left: 8px;
    width: 100%;
}

.FieldContainer__content--title {
    margin: 0 0 15px 0;
}